<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402078791499-7h13q2kehaeeqqfenhg5kf097f8g3j4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402078791499-7h13q2kehaeeqqfenhg5kf097f8g3j4s</string>
	<key>API_KEY</key>
	<string>AIzaSyDHCGpyyWllfYc-sNwZO-PSy8Xin42diNE</string>
	<key>GCM_SENDER_ID</key>
	<string>402078791499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theBarber</string>
	<key>PROJECT_ID</key>
	<string>the-barber-cd2a7</string>
	<key>STORAGE_BUCKET</key>
	<string>the-barber-cd2a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402078791499:ios:9432af00fb6709a686dace</string>
</dict>
</plist>